<h1>New To-Do List</h1>

<form action="/lists" method="POST">
  <label>List Name:</label><input type="text" name="list[name]"/>
  <label>Items:</label><input type="text" name="list[items]"/>

  <input type="submit"/>
</form>



